# 06_red.yml - network, routes and iptables

    - name: rutas ip r
      shell: echo -e "$(ip r s)" || echo -e '<p style=color:red;>⚠️ ⚠️REVISAR_ no se pueden obtener rutas_REVISAR</p>'
      register: iproute 

    - name: rutas route
      shell: echo -e "$(route -n)" || echo -e '<p style=color:red;>REVISAR_⚠️ ⚠️no se pueden obtener rutas_REVISAR</p>'
      register: route

    - name: rutas all
      shell: echo -e "$(ip route show table all)" || echo -e '<p style=color:red;>REVISAR_⚠️ ⚠️no se pueden obtener rutas_REVISAR</p>'
      register: iprouteall

    - name: rutas nmcli
      shell: echo -e "$(nmcli dev show --show-secrets)" || echo -e "<p style=color:red;>REVISAR_⚠️ ⚠️servicio network caido o sin uso_REVISAR</p>"
      register: nmcli
      ignore_errors: True

    - name: iptables
      command: iptables -nL
      register: iptableslist


    - name: ficheros del red
      shell: echo '<h3>route</h3>' && ls -ltra /etc/sysconfig/network-scripts/route* && echo '<h3>cfg</h3>' && ls -ltra /etc/sysconfig/network-scripts/ifcfg-* && echo '<h3>resto</h3>' && ls -ltra /etc/sysconfig/network-scripts/ | grep -v route | grep -v ^ifcfg
      register: fichbond
      ignore_errors: True

    - name: master slave
      shell: grep -i 'MASTER=bond0' /etc/sysconfig/network-scripts/ifcfg-* && grep -i 'SLAVE=yes' /etc/sysconfig/network-scripts/ifcfg-* || echo -e '<p style=color:red;>⚠️ ⚠️REVISAR_ No hay configurados master o sclavos en los ficheros de red , ver si se esperaban en el servidor _REVISAR</p>'
      register: masterslave
      ignore_errors: True

    - name: ficheros de red ifcfg
      shell: ls /etc/sysconfig/network-scripts/ifcfg*|while read fich; do echo "<h3><br>$fich<br></h3>" && cat $fich; done
      register: routefich
      ignore_errors: True

    - name: Ficheros de bond
      shell: ls /etc/sysconfig/network-scripts/*route*|while read fich; do echo "<br><h3>$fich</h3><br><details>" && cat $fich && echo "</details>"; done
      register: ficherosrutas
      ignore_errors: True

    - name: Ficheros ifcfg
      shell: ls /etc/sysconfig/network-scripts/ifcfg-*|grep -v ifdown|grep -v ifup|while read fich; do echo "<br><h3>$fich</h3><br><details>" && cat $fich && echo '</details>'; done
      register: ficherosifcfg
      ignore_errors: True

    - name: existen ficheros Vlan en el bond
      shell: ls /etc/sysconfig/network-scripts/*Vlan* /etc/sysconfig/network-scripts/*vlan* || echo "correcto no hay ficheros Vlan"
      register: ficherosVlanbond
      ignore_errors: True

    - name: revisa bootproto ifcfg-bond1
      shell:  grep 'BOOTPROTO=none'  /etc/sysconfig/network-scripts/ifcfg-bond1|wc -l || echo "REVISAR_⚠️ ⚠️ no esta bootproto en ifcfg-bond1_REVISAR"
      register: bootprotononebond1
      ignore_errors: True
