# 08_discos.yml - disks and mounts; includes df -h


    - name: Obtener uso del disco (filtrado)
      command: df -h # --output=source --output=target --output=avail --output=pcent
      register: uso_disco
      changed_when: false
      failed_when: false

    - name: MONTAJE DISCOS (old)
      shell: mount -a && mount  | awk 'NR==1{print "<tr><th>" $1 "</th><th>" $2 "</th><th>" $3 "</th><th>" $4 "</th></tr>" $5 "</th><th>" $6 "</th><th>"} NR>1{print "<tr><td>" $1 "</td><td>" $2 "</td><td>" $3 "</td><td>" $4 "</td></tr>" $5 "</td></tr>" $6 "</td></tr>" $7 "</td></tr>"}' || echo -e '<p style=color:red;>⚠️ ⚠️REVISAR_ NO SE PUEDEN OBTENER LOS DATOS DE MONTAJE_REVISAR</p>'
      register: fsmount

    - name: MONTAJE DISCOS (new)
      set_fact:
        fsmount_new: "{{ ansible_mounts }}"

    - name: IDENTIFICACION DISCOS
      shell: echo -e "<p>$(blkid)</p><br><hr><p>$(lsblk --list --all)</p><hr><p>$(nfsstat -m all)</p><br>"
      register: blkidstatus

    - name: Get mount info
      set_fact:
        opt_info: "<p>{{ ansible_facts['mounts'] | selectattr('mount', '==', '/opt') | list }}</p>"
        tmp_info: "<p>{{ ansible_facts['mounts'] | selectattr('mount', '==', '/tmp') | list }}</p>"
        home_info: "<p>{{ ansible_facts['mounts'] | selectattr('mount', '==', '/home') | list }}</p>"
        varlog_info: "<p>{{ ansible_facts['mounts'] | selectattr('mount', '==', '/var/log') | list }}</p>"

    - name: Buscar  en directorio opt
      find:
        paths: /opt/
        file_type: directory
        recurse: no
      register: salida

    - name: FS o USUARIO DE APLICACION
      set_fact:
        optusers: |
          {%- set opt_users = [] -%}
          {%- for dir in salida.files -%}
            {{ opt_users.append(dir.path.split('/')[-1]) }}
          {%- endfor -%}
          {{ opt_users }}

    - name: opt_users_fs
      shell: echo "<p>{{ inventory_hostname }}<br>;{{ optusers }}</p>" 
      register: optusers  

