# 11_report.yml - render template, create CSV, send mail (delegated)
    - name: logo
      slurp:
        src:  "{{ logo_file_path }}"
      register: logo
      delegate_to: "{{ reporting_host }}"



    - name: crea j2html
      template:
        src: "cabecera.html.j2"
        dest: "{{ fichero }}"
      delegate_to: "{{ reporting_host }}"

    - name: revisiones
      shell: echo -e "$(grep 'REVISAR_' {{ fichero }}   | sed 's/.*REVISAR_/REVISAR_/g'|sed 's/_REVISAR.*/_REVISAR/g')"
      register: revisiones
      delegate_to: "{{ reporting_host }}"


    - name: tratarevisiones
      shell: sed -i '/</body>/i<div><p>{{revisiones.stdout_lines| join("<br>")}}</p></div>'  {{ fichero }}
      delegate_to: "{{ reporting_host }}"


    - name: cabecera csv
      copy:
        content: "
                 ;\n;\n;\n; ; ; ; ; ; ; ; ; ;colum::; ; ; ; ; ; ; ; ; ; ;\n;\n;
                 DEFAULT IPv4; HOSTNAME; INTERFACES; IPs; VERSION DE LA DISTRIBUCION; VERSION FUTURA; KERNEL INSTALADO; RELEASE SUGERIDO;
                 RESULTADO PREVIO; DIAS ULTIMO REINICIO; FECHA DE PARCHEADO INICIAL;
                 2ª FECHA DE PARCHEADO ;3ª FECHA DE PARCHEADO ;4ª FECHA DE PARCHEADO ; ;
                 \n"
        dest: "{{ csv_report_path }}"
      delegate_to: "{{ reporting_host }}"



    - name: crea fichero csv
      shell: echo -e ";
                      $(echo  {{ ansible_default_ipv4.address }});
                      $(echo  {{ ansible_hostname }});
                      $(echo  {{ ansible_interfaces }});
                      $(echo  {{ ansible_all_ipv4_addresses }});
                      $(echo  {{ ansible_distribution_version }});
                      $(echo  {{ versionfutura.stdout }});
                      $(echo  {{ ansible_kernel }}  | sed -e 's/<.*instalado.*>/ /g');
                      $(echo  {{ suggested.stdout }});
                      $(echo  {{ hayupdates }}  | sed -e 's/<\/\?h1>/ /g'|sed -e 's/.*\[/ /g' -e 's/\].*/ /g');
                      $(echo  {{ diasultimoreinicio.stdout }} | sed -e 's/.*up/ /g' -e 's/days.*/ /g');
                      $(echo  {{ fechas_parcheado.stdout_lines[0:1]}} | tr ',' ';');
                      $(echo  {{ fechas_parcheado.stdout_lines[1:2]}} | tr ',' ';');
                      $(echo  {{ fechas_parcheado.stdout_lines[2:3]}} | tr ',' ';');
                      $(echo  {{ fechas_parcheado.stdout_lines[3:4]}} | tr ',' ';');
                      \n " >> "{{ csv_report_path }}"
      delegate_to: "{{ reporting_host }}"
      ignore_errors: True



    - name: Genera mail
      shell: |
        (
        echo "Subject: Mantenimiento PREVIO {{ aplicacion.stdout }} {{ ansible_hostname }} PARCHEADO DE {{ ansible_distribution_version }} OK $DATE"
        echo "CC: david.bdominguez@externos.correo.gob.es"
        echo "Content-Type: multipart/mixed; boundary=boundary42; charset=utf-8"
        echo "--boundary42"
        echo "Content-Type: text/html; charset=utf-8"
        echo "$(head -20  {{ email_header_template_path }})"
        echo "$(head -22 {{ email_header_template_path }} |tail -1 |sed -e 's/50%/20%/g')"
        echo "</header>"
        echo "<div style='text-align:center'>"
        echo "<br><h1><u>MANTENIMIENTO PREVIO PARCHEADO DE {{ ansible_distribution_version }} DE {{ ansible_hostname }}:<br></u></h1>"
        echo "<pre><br>{{ subscription.stdout_lines|join('<br>') }}</pre>"
        echo "<p><br>$(date -I)<p><br>"
        echo "Datos de Contacto:{% for contactos in  contacto.stdout|split(';')  %}<br>{{ contactos }}<br>{% endfor %}"
        echo "<pre>$(egrep 'Si hay actualizaciones|No hay actualizaciones' {{ fichero }}|uniq)</pre>"
        echo "<pre>{{ resumen.stdout }}</pre>"
        echo "<h2><br>FECHA PRÓXIMO PARCHEADO para {{ ansible_hostname }}:<br></h2><br>"
        echo "<pre>{{ fechas_parcheado.stdout_lines }}</pre><br><h6>Este mensaje es autogenerado por el sistema .Por favor, no conteste directamente a este correo.Este correo y los archivos adjuntos tienen caracter confidencial y están destinados exclusivamente para el uso de la persona o entidad destinataria. Puede contener información legalmente privilegiada y no puede ser revelada a nadie. Si Vd. ha recibido por error este correo electrónico, por favor notifíquelo y elimine todas las copias de su sistema. <br>david.bdominguez@externos.correo.gob.es</h6><br></pre>"
        echo "Revisiones:<br>{{ revisiones.stdout_lines|join('<br>') }}<br>"
        echo "subtype: html"
        echo "</div>"
        echo "</body>"
        echo "</html>"
        echo "--boundary42"
        echo "Content-Type: application/octet-stream; name=$(basename '{{ csv_report_path }}' ) "
        echo "Content-Transfer-Encoding: base64"
        echo "Content-Disposition: attachment; filename=$(basename '{{ csv_report_path }}' ) "
        echo ";`cat '{{ csv_report_path }}' | base64`"
        echo "--boundary42"
        echo "Content-Transfer-Encoding: base64"
        echo "Content-Disposition: attachment; filename=$(basename '{{ fichero }}' ) "
        
        echo ";`cat {{ fichero }} | base64`"
        echo " "
        echo "--boundary42--"
        ) | sendmail  -t "david.bdominguez@externos.correo.gob.es"
      delegate_to: "{{ reporting_host }}"
      
       # "david.bdominguez@externos.correo.gob.es;cristina.cuenca@externos.correo.gob.es;aida.suarez@externos.correo.gob.es" 
