# 02_subscription.yml - subscription-manager & insights actions

    - name: release actual de {{ ansible_hostname }}
      shell: "subscription-manager release --set {{ ansible_distribution_version }} && subscription-manager refresh"

    - name: versión a actualizar
      shell: echo  "{{ '%.1f' | format(( ansible_distribution_version | float * 10 + 1) // 1 / 10)}}"
      register: versionfutura

    - name: show packages yum
      shell: yum list updates |grep -v '00:00' | grep -v reposit |wc -l
      register: paquetes
    - name: Si o no hay updates
      debug:
        msg:
        - '<h2>No hay actualizaciones disponibles {{ paquetes.stdout }}</h2>'
      when: paquetes.stdout | int < 6
      register: hayupdates

    - name: Si o no updates
      debug:
        msg:
         - '<h1> Si hay actualizaciones pendientes de instalar en su release actual {{ ansible_distribution_version }} {{ paquetes.stdout }}</h1>'
      when: paquetes.stdout | int > 6
      register: hayupdates
      ignore_errors: True

    - name: Imprime si hay updates
      shell: echo  -e "<hr><br>{{ hayupdates }}<br><hr>" | sed -e 's/.*msg.*\[/ /g'|sed -e 's/.*<h1>/<h1> /g'|sed -e 's/<\/h1>.*/<\/h1> /g' | grep -v skip_reason|sed 's/msg*:/ /g'  >> "{{ fichero }}"
      delegate_to: adgesasateinfc2
      when: paquetes.stdout | int > 6
      ignore_errors: True

    - name: Imprime si hay cambio de release
      shell: echo  "<hr><br><h1>No hay actualizaciones disponibles en su release {{ ansible_distribution_version }},asignamos un release superior:{{ versionfutura.stdout }} paquetes:{{ paquetes.stdout }}</h1><br><hr>"   
      when: paquetes.stdout | int < 6 
      delegate_to: adgesasateinfc2
      register: cambiorelease


    - name: set release subscripcion
      shell: subscription-manager release --set 8.10 && subscription-manager refresh
      when: paquetes.stdout |int < 6 
      register: setsubscriptionrelease
      changed_when: false
      failed_when: false

    - name: Ultimo kernel instalado
      shell: rpm -qa --last kernel| head -1| awk '{print "<br><b>kernel instalado:</b>"$1"<br><b>  última actualización del kernel en el año :</b>"$4$5"<br>"}'
      register: kernelLast
      changed_when: false
      failed_when: false

    - name: Version sugerida por redhat
      shell: insights-client --check-results && insights-client --show-results --net-debug --show-results| grep -e '"suggested"*"' |awk -F':' '{print $2}' ||  echo -e '<p style=color:red;>REVISAR_⚠️ ⚠️NO HAY VERSION SUGERIDA_REVISAR</p>'
      register: suggested
      changed_when: false
      failed_when: false

    - name: Imprime si hay updates
      shell: echo  "<br>{{ hayupdates }}<br><hr>"| grep -v skip_reason | sed 's/.*msg.*\[/ /g'|sed 's/.*<h1>/<h1> /g'|sed 's/<\/h1>.*/<\/h1> /g'  >> "{{ fichero }}" 
      delegate_to: adgesasateinfc2

    - name: Imprime si hay cambio de release
      shell: echo  "<br><h1>No hay actualizaciones disponibles en su release {{ ansible_distribution_version }} ,asignamos un release superior:{{ versionfutura.stdout }}</h1><br><hr>"  >> "{{ fichero }}"
      when: paquetes.stdout | int < 6  
      delegate_to: adgesasateinfc2
      ignore_errors: True

    - name: exclusiones aplicadas a {{ ansible_hostname }}
      command: grep -i exclude /etc/yum.conf
      register: exclu
      changed_when: false
      failed_when: false

    - name: subscripcion
      shell: subscription-manager identity |sed 's/DirName//g' ||  echo -e '<p style=color:red;>⚠️ ⚠️REVISAR_ NO HAY SUBCRIPCIÖN_REVISAR</p>'
      register: subscription

    - name: ultimo reinicio
      shell: uptime | cut -d ' ' -f 4,5
      register: diasultimoreinicio
      changed_when: false
      failed_when: false
